/* Terminal.module.css */
.terminalOutput {
  max-height: 400px;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.scrollbar::-webkit-scrollbar {
  width: 0.4em;
  height: 0;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid #1f2937;
  border-radius: 5em;
}
